# Base URL of the API Backend (e.g. localhost, local ngrok URL, or production instance)
base_url=https://aether.adarsh.rocks

# Web Application Client ID from Firebase Console (client_type: 3)
GOOGLE_SERVER_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
